@import 'variables';

.about {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .article {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: $violetLight;
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 1.8;
        font-weight: 300;
        .quote {
          font-style: italic;
          font-family: serif;
          font-size: 1.2rem;
        }
      }
    }
  }
  .bold {
    font-weight: 600;
  }
}

//Responsive screen < 999px
@media (max-width: 999px) {
  .about {
    .container {
      flex-direction: column-reverse;
      .article {
        width: 100%;
      }
      .img {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 5%;
      }
    }
  }
}
