@import 'variables';
@import 'animation';

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    position: relative;
    max-width: 1600px;
    width: 90%;
    height: 100vh;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 570px;
      width: 100%;

      .socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;

        .link {
          font-size: 1.3rem;
          border: 1.6px solid $white;
          border-radius: 50%;
          padding: 0.8rem;
          text-align: center;
          line-height: auto;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: $violet;
            border: 1.6px solid $violet;
          }
        }
      }

      .infos {
        .name {
          padding-bottom: 1rem;
          font-size: 2.5rem;
          font-weight: 600;
        }
        .job {
          padding-bottom: 1.2rem;
          font-size: 1.4rem;
          font-weight: 300;
        }
      }
    }
  }
}

//Responsive screen < 1199px
@media (max-width: 1199px) {
  .home {
    .container {
      flex-direction: column-reverse;
      .content {
        flex-direction: column-reverse;
        max-width: none;
        width: 100%;
        gap: 3rem;
        .socials {
          flex-direction: row;
        }
        .infos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .name {
            padding-bottom: 1rem;
            font-size: 2.2rem;
            text-align: center;
          }
          .job {
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
  }
}

//Responsive screen < 999px
@media (max-width: 999px) {
  .home {
    .container {
      .content {
        .infos {
          .name {
            padding-bottom: 1rem;
            font-size: 2rem;
            text-align: center;
          }
          .job {
            font-size: 1.1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

//Responsive screen < 699px
@media (max-width: 699px) {
  .home {
    .container {
      .content {
        .infos {
          .name {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

//Responsive screen < 499px
@media (max-width: 499px) {
  .home {
    .container {
      .content {
        .infos {
          .name {
            font-size: 1.6rem;
          }
          .job {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
